# Ignore node_modules and package-lock
node_modules/
package-lock.json

# Ignore environment variables
.env
.env.*

# Ignore build/public output directories (if you add them later)
dist/
build/
public/